* {
    background-color: antiquewhite;
}

img {
    max-width: 85%;
    height: auto;

}
h2 {
    font-size: 24px;
}
h5 {
    font-size: 16px;
    font-style: italic;
    color: rgb(105, 31, 31);
}
h1 { margin: 24px;}
.recipes {
    display: grid;
    margin: 20px;
    grid-template-rows: auto auto 50px auto auto 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
  }

  .recipes-item1 {
    align-self: center;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .recipes-item1:hover{
    background-color: aquamarine;
  }

  .recipes-item2 {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }

  .recipes-item3 {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
  }

  .recipes-item4 {
    grid-row: 1/1;
    grid-column: 2/2;
  }
  .recipes-item5 {
    grid-row: 2/2;
    grid-column: 2/2;
  }

  .recipes-item6 {
    grid-row: 3/3;
    grid-column: 2/2;
  }

  .recipes-item1 :hover {
    box-shadow: 2px blue;
    transition: 0.05ms;
  }
  .recipes-item7 {
    grid-row: 1/1;
    grid-column: 3/3;
  }
  .recipes-item8 {
    grid-row: 2/2;
    grid-column: 3/3;
  }

  .recipes-item9 {
    grid-row: 3/3;
    grid-column: 3/3;
  }
  .recipes-item10 {
    grid-row: 1/1;
    grid-column: 4/4;
  }
  .recipes-item11 {
    grid-row: 2/2;
    grid-column: 4/4;
  }

  .recipes-item12 {
    grid-row: 3/3;
    grid-column: 4/4;
  }
  .recipes-item21 {
    grid-row: 4/4;
    grid-column: 1/1;
  }
  .recipes-item22 {
    grid-row: 5/5;
    grid-column: 1/1;
  }

  .recipes-item23 {
    grid-row: 6/6;
    grid-column: 1/1;}
  /* .recipes-item10 {
    grid-row: 4/4;
    grid-column: 1/1;
    display: grid;
    grid-template-rows: repeat(5,50px);
    grid-template-columns: repeat(6,50px);
    grid-template-areas:
        "header header header header header header"; */




